/*
__Python Color Theme__
  --main-darkest-color: #022c43;
  --main-dark-color: #053f5e;
  --main-light-color: #115173;
  --main-lightest-color: #ffd700;

__Iris 2 Color Theme__
--main-darkest-color: #182952;
--main-dark-color: #2b3595;
--main-light-color: #7045af;
--main-lightest-color: #e14594;

__Sergi 1 Color Theme__
--main-darkest-color: #000000;  o   #333
--main-dark-color: #3e432e;
--main-light-color: #616f39;
--main-lightest-color: #a7d129;
*/

:root {
  --main-darkest-color: #022c43;
  --main-dark-color: #053f5e;
  --main-light-color: #115173;
  --main-lightest-color: #ffd700;
  --font-for-titles: Helvetica, Geneva, Tahoma, sans-serif;

  --paper-background-color: white;
}

body {
  background-color: var(--main-darkest-color);
}
header {
  background-color: var(--main-dark-color);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  color: var(--main-lightest-color);
  text-decoration: none;
  font-family: var(--font-for-titles);
}
.myName {
  color: var(--main-lightest-color);
  font-family: var(--font-for-titles);
}
.ToDoApp {
  background-color: var(--main-light-color);
}

.toDoList{
  background-color: white;
}
